<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="/app.js"></script>

<hr>
<div style='color: blue; text-align: center'>05 Monday 2022</div>
